:root {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: #383838;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  color: #000;
}

.container {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 0;
  outline: none;
}

img:focus {
  border: 0;
  outline: none;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:focus {
  outline: none;
}

ul {
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  color: inherit;
}

svg {
  width: 20px;
  height: 20px;
}

.header-low {
  padding: 20px 0;
  background-color: #242c33;
}

.header-low-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.header-low-right {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.header-logo-img a {
  display: block;
  width: 156px;
  height: 100%;
}

.header-logo-img a img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  padding: 5px;
  text-transform: capitalize;
  color: #fff;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.nav-link:hover {
  color: #f9b522;
}

.nav-link:last-child {
  padding-right: 0;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  min-height: 500px;
}

.slider-wrap {
  height: 100%;
  width: 100%;
}

.slider-slick {
  height: 100%;
  width: 100%;
}

.slider-item {
  position: relative;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.slider-item-1 {
  background-image: url("../images/slider-1.webp");
}

.slider-item-2 {
  background-image: url("../images/slider-2.webp");
}

.slider-item-3 {
  background-image: url("../images/slider-3.webp");
}

.slider-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 99;
}

.slider-content-wrap {
  width: 55%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
          justify-content: center;
}

.slider-title h2 {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-text {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.slider-text p {
  font-size: 22px;
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-weight: 400;
  line-height: 1.4;
}

.slider-btn a {
  padding: 1.5rem 3rem;
  background-color: #f9b522;
  font-size: 16px;
  font-weight: 400;
  color: #242c33;
  text-transform: capitalize;
  font-family: "Heebo", sans-serif;
  letter-spacing: 0.3px;
  border-radius: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.slider-btn a:hover {
  background-color: #fff;
  color: #f9b522;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}